@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252A;
    
}
body {
    height: 2000px;
}
li, a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    align-items: center;
    background-color: #24252A;
    position: sticky;
    top: 0px;
    flex-wrap: wrap;
    transition: 0.6s;
}

.nav_links  li{
    display: inline-block;
    padding: 10px 20px;
}
.nav_links  li a:hover {
    color: aquamarine;
    background-color: rgb(5, 73, 76);
    border-radius: 20px;
    padding: 20px;
    transition: 0.3s ease;
}
.nav_links li a {
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

.con {
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.con:hover{
    color: aquamarine;
    cursor: pointer;
}

.con2 {
    color: aliceblue;
    text-align: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.con2:hover {
    color: aquamarine;
}
#log1 {
    font-size: 30px;
}
#log2 {
    font-size: 30px;
}

.nav_links:hover {
    background-color: aliceblue;
}

.container {
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}
.items {
    border: 2px solid gray;
    padding: 10px 20px;
    margin: 10px 10px;
    width: 227px;
    height: 97px;
    border-radius: 10px;
    cursor: pointer;
}

.container span {
    display: block;
    width: 63px;
    margin: auto;
    font-size: 60px;
}

/* #items-1:hover */
#items-2:hover {
    color: aquamarine;
    transition: 0.4s;

}
#items-3:hover {
    color: bisque;
}
#items-4:hover {
    color: red;
    transition: 0.4s;
}
#items-5:hover {
    color: yellow;
}
#items-6:hover {
    color: rgb(11, 155, 222);
    transition: 0.4s;
}

.midcontainer {
    display: flex;
    justify-content: center;
}
.midcontainer h2{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
}


.midcontainer h2:hover {
    background-color: aquamarine;
    color: black;
    border-radius: 15px;
}
.pr1 {
    display: flex;
    justify-content: center;
}
.box {
    color: aliceblue;
    border: 2px solid white;
    padding: 10px 10px;
    margin: 10px 50px;
    width: 500px;
    height: 290px;
    text-align: center;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.box p{
    margin: 10px 20px;
    font-size:16px ;
}

.box:hover {
    width: 600px;
    padding: 30px 10px;
    border-radius: 20px;
    transition: 0.4s ease;

}

.nav_images {
    display: flex;
    
}
.img {
   height: 10px;
}